<!DOCTYPE html>
<html>
<head>
    <title>Audio Recorder</title>
    <link rel="shortcut icon" href="#">
</head>
<body>
    <table style="width:100%">
        <tr>
            <td style="width:50%">
                <h2>Record and Upload Audio (Speak)</h2>
                <button id="recordSpeak">Record</button>
                <button id="stopSpeak" disabled>Stop</button>
                <span id="timerSpeak">00:00</span>
                <audio id="audioSpeak" controls></audio>
                <form id="uploadSpeakForm" method="POST" enctype="multipart/form-data" action="/upload_speak">
                    <input type="hidden" name="audio_data" id="audioDataSpeak">
                </form>
                <hr>
                <h2>Speak Files</h2>
                <ul>
                    {% for file in speak_files %}
                    <li> 
                        {% if file.endswith('.wav') %}
                        <audio controls>
                             <source src="{{ url_for('speak_file', filename=file) }}" type="audio/wav"> 
                            Your browser does not support the audio element.
                        </audio><br>
                        {{ file }}
                        {% elif file.endswith('.txt') %}
                        <a href="{{ url_for('speak_file', filename=file) }}" target="_blank">{{ file }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </td>
            <td style="width:50%">
                
                
                  
                
                <ul>
                    {% for file in typing_files %}
                    <li> 
                        {% if file.endswith('.wav') %}
                        <audio controls>
                            <source src="{{ url_for('typing_file', filename=file) }}" type="audio/mp3">
                            Your browser does not support the audio element.
                        </audio><br>
                        {{ file }}
                        {% elif file.endswith('.txt') %}
                        <a href="{{ url_for('typing_file', filename=file) }}" target="_blank">{{ file }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
    <script src="./script.js"></script>
</body>
</html>
